In [1]:
!pip install pdfplumber==0.5.24

Requirement already satisfied: pdfplumber==0.5.24 in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (0.5.24)
Requirement already satisfied: pdfminer.six==20200517 in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfplumber==0.5.24) (20200517)
Requirement already satisfied: Pillow>=7.0.0 in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfplumber==0.5.24) (7.2.0)
Requirement already satisfied: Wand in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfplumber==0.5.24) (0.6.3)
Requirement already satisfied: sortedcontainers in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six==20200517->pdfplumber==0.5.24) (2.1.0)
Requirement already satisfied: pycryptodome in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six==20200517->pdfplumber==0.5.24) (3.9.9)
Requirement already satisfied: chardet; python_version > "3.0" in c:\users\karteek\appdata\local\continuum\anaconda3\lib\site-packages (from pdfminer.six==20200517->pdfplumber==0.5.24) (3.0.4)

In [19]:
import pdfplumber
with pdfplumber.open("data.pdf") as pdf:
    test = pdf.pages[0]
    print(len(test.chars))

1360

In [ ]:
outfile = open('test1.csv', 'w')
outcsv = csv.writer(outfile)

In [21]:
import csv
for page in pdf.pages:
    for table in page.extract_tables():
        for row in table:
            print(row)
            outcsv.writerow(row)
        print('-- -------- Split line----------')

#pdf.close()

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear']
['21.0', '6', '160.0', '110', '3.90', '2.620', '16.46', '0', '1', '4']
['21.0', '6', '160.0', '110', '3.90', '2.875', '17.02', '0', '1', '4']
['22.8', '4', '108.0', '93', '3.85', '2.320', '18.61', '1', '1', '4']
['21.4', '6', '258.0', '110', '3.08', '3.215', '19.44', '1', '0', '3']
['18.7', '8', '360.0', '175', '3.15', '3.440', '17.02', '0', '0', '3']
['18.1', '6', '225.0', '105', '2.76', '3.460', '20.22', '1', '0', '3']
['14.3', '8', '360.0', '245', '3.21', '3.570', '15.84', '0', '0', '3']
['24.4', '4', '146.7', '62', '3.69', '3.190', '20.00', '1', '0', '4']
['22.8', '4', '140.8', '95', '3.92', '3.150', '22.90', '1', '0', '4']
['19.2', '6', '167.6', '123', '3.92', '3.440', '18.30', '1', '0', '4']
['17.8', '6', '167.6', '123', '3.92', '3.440', '18.90', '1', '0', '4']
['16.4', '8', '275.8', '180', '3.07', '4.070', '17.40', '0', '0', '3']
['17.3', '8', '275.8', '180', '3.07', '3.730', '17.60', '0', '0', '3']
['15.2', '8', '275.8', '180', '3.07', '3.780', '18.00', '0', '0', '3']
['10.4', '8', '472.0', '205', '2.93', '5.250', '17.98', '0', '0', '3']
['10.4', '8', '460.0', '215', '3.00', '5.424', '17.82', '0', '0', '3']
['14.7', '8', '440.0', '230', '3.23', '5.345', '17.42', '0', '0', '3']
['32.4', '4', '78.7', '66', '4.08', '2.200', '19.47', '1', '1', '4']
['30.4', '4', '75.7', '52', '4.93', '1.615', '18.52', '1', '1', '4']
['33.9', '4', '71.1', '65', '4.22', '1.835', '19.90', '1', '1', '4']
['21.5', '4', '120.1', '97', '3.70', '2.465', '20.01', '1', '0', '3']
['15.5', '8', '318.0', '150', '2.76', '3.520', '16.87', '0', '0', '3']
['15.2', '8', '304.0', '150', '3.15', '3.435', '17.30', '0', '0', '3']
['13.3', '8', '350.0', '245', '3.73', '3.840', '15.41', '0', '0', '3']
['19.2', '8', '400.0', '175', '3.08', '3.845', '17.05', '0', '0', '3']
['27.3', '4', '79.0', '66', '4.08', '1.935', '18.90', '1', '1', '4']
['26.0', '4', '120.3', '91', '4.43', '2.140', '16.70', '0', '1', '5']
['30.4', '4', '95.1', '113', '3.77', '1.513', '16.90', '1', '1', '5']
['15.8', '8', '351.0', '264', '4.22', '3.170', '14.50', '0', '1', '5']
['19.7', '6', '145.0', '175', '3.62', '2.770', '15.50', '0', '1', '5']
['15.0', '8', '301.0', '335', '3.54', '3.570', '14.60', '0', '1', '5']
['21.4', '4', '121.0', '109', '4.11', '2.780', '18.60', '1', '1', '4']
-- -------- Split line----------
['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']
['6.7', '3.3', '5.7', '2.5']
['6.7', '3.0', '5.2', '2.3']
['6.3', '2.5', '5.0', '1.9']
['6.5', '3.0', '5.2', '2.0']
['6.2', '3.4', '5.4', '2.3']
['5.9', '3.0', '5.1', '1.8']
-- -------- Split line----------
['Sepal.Width', 'Petal.Length', 'Petal.Width']
['3.5', '1.4', '0.2']
['3.0', '1.4', '0.2']
['3.2', '1.3', '0.2']
['3.1', '1.5', '0.2']
['3.6', '1.4', '0.2']
['3.9', '1.7', '0.4']
-- -------- Split line----------
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
-- -------- Split line----------

In [11]:
import csv
import pdfplumber
pdf_fname = 'data.pdf'

outfile = open('datalat.csv', 'w')
outcsv = csv.writer(outfile)

pdf = pdfplumber.open(pdf_fname)
for page in pdf.pages:
    table = page.extract_table()
    for row in table[1:]:  # note how I'm still skipping the header
        outcsv.writerow(row)
outfile.close

In [15]:
import pdfplumber
import re
with pdfplumber.open("data.pdf") as pdf:
    test = pdf.pages[0]
    print(len(test.chars))
    
for page in pdf.pages:
    print(page.extract_text())
    for pdf_table in page.extract_tables():
        Table = []
        Cells = []
        for row in pdf_table:
            if not any(row ):
                #If a line is all empty, it is considered to be the end of a record
                if any(Cells):
                    Table.append(cells)
                    Cells = []
            elif all(row):
                # If the line is not empty, then this line is a new line, the previous one ends
                if any(Cells):
                    Table.append(cells)
                    Cells = []
                Table.append(row)
            else:
                if len(cells) == 0:
                    Cells = row
                else:
                    for i in range( Len(row)):
                        if row[i] is not None:
                            Cells[i] = row[i] if cells[i] is None else cells[i] + row[i]
        for row in table:
            print([re.sub('\\s+', '', cell) if cell is not None else None for cell in row])
        print('-- -------- Split line----------')

Pdf.close()

1360
mpg cyl disp hp drat wt qsec vs am gear carb
Mazda RX4 21.0 6 160.0 110 3.90 2.620 16.46 0 1 4 4
Mazda RX4 Wag 21.0 6 160.0 110 3.90 2.875 17.02 0 1 4 4
Datsun 710 22.8 4 108.0 93 3.85 2.320 18.61 1 1 4 1
Hornet 4 Drive 21.4 6 258.0 110 3.08 3.215 19.44 1 0 3 1
Hornet Sportabout 18.7 8 360.0 175 3.15 3.440 17.02 0 0 3 2
Valiant 18.1 6 225.0 105 2.76 3.460 20.22 1 0 3 1
Duster 360 14.3 8 360.0 245 3.21 3.570 15.84 0 0 3 4
Merc 240D 24.4 4 146.7 62 3.69 3.190 20.00 1 0 4 2
Merc 230 22.8 4 140.8 95 3.92 3.150 22.90 1 0 4 2
Merc 280 19.2 6 167.6 123 3.92 3.440 18.30 1 0 4 4
Merc 280C 17.8 6 167.6 123 3.92 3.440 18.90 1 0 4 4
Merc 450SE 16.4 8 275.8 180 3.07 4.070 17.40 0 0 3 3
Merc 450SL 17.3 8 275.8 180 3.07 3.730 17.60 0 0 3 3
Merc 450SLC 15.2 8 275.8 180 3.07 3.780 18.00 0 0 3 3
Cadillac Fleetwood 10.4 8 472.0 205 2.93 5.250 17.98 0 0 3 4
Lincoln Continental 10.4 8 460.0 215 3.00 5.424 17.82 0 0 3 4
Chrysler Imperial 14.7 8 440.0 230 3.23 5.345 17.42 0 0 3 4
Fiat 128 32.4 4 78.7 66 4.08 2.200 19.47 1 1 4 1
Honda Civic 30.4 4 75.7 52 4.93 1.615 18.52 1 1 4 2
Toyota Corolla 33.9 4 71.1 65 4.22 1.835 19.90 1 1 4 1
Toyota Corona 21.5 4 120.1 97 3.70 2.465 20.01 1 0 3 1
Dodge Challenger 15.5 8 318.0 150 2.76 3.520 16.87 0 0 3 2
AMC Javelin 15.2 8 304.0 150 3.15 3.435 17.30 0 0 3 2
Camaro Z28 13.3 8 350.0 245 3.73 3.840 15.41 0 0 3 4
Pontiac Firebird 19.2 8 400.0 175 3.08 3.845 17.05 0 0 3 2
Fiat X1-9 27.3 4 79.0 66 4.08 1.935 18.90 1 1 4 1
Porsche 914-2 26.0 4 120.3 91 4.43 2.140 16.70 0 1 5 2
Lotus Europa 30.4 4 95.1 113 3.77 1.513 16.90 1 1 5 2
Ford Pantera L 15.8 8 351.0 264 4.22 3.170 14.50 0 1 5 4
Ferrari Dino 19.7 6 145.0 175 3.62 2.770 15.50 0 1 5 6
Maserati Bora 15.0 8 301.0 335 3.54 3.570 14.60 0 1 5 8
Volvo 142E 21.4 4 121.0 109 4.11 2.780 18.60 1 1 4 2
1
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
-- -------- Split line----------
Sepal.Length Sepal.Width Petal.Length Petal.Width Species
5.1 3.5 1.4 0.2 setosa
4.9 3.0 1.4 0.2 setosa
4.7 3.2 1.3 0.2 setosa
4.6 3.1 1.5 0.2 setosa
5.0 3.6 1.4 0.2 setosa
5.4 3.9 1.7 0.4 setosa
Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7 3.3 5.7 2.5 virginica
146 6.7 3.0 5.2 2.3 virginica
147 6.3 2.5 5.0 1.9 virginica
148 6.5 3.0 5.2 2.0 virginica
149 6.2 3.4 5.4 2.3 virginica
150 5.9 3.0 5.1 1.8 virginica
2
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
-- -------- Split line----------
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
-- -------- Split line----------
len supp dose
4.2 VC 0.5
11.5 VC 0.5
7.3 VC 0.5
5.8 VC 0.5
6.4 VC 0.5
10.0 VC 0.5
11.2 VC 0.5
11.2 VC 0.5
5.2 VC 0.5
7.0 VC 0.5
16.5 VC 1.0
16.5 VC 1.0
15.2 VC 1.0
17.3 VC 1.0
22.5 VC 1.0
3
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
-- -------- Split line----------

In [12]:
import requests
url = 'http://www.edd.ca.gov/jobs_and_training/warn/eddwarncn12.pdf'
pdf_fname = 'CAWARN-eddwarncn12.pdf'
resp = requests.get(url)
with open(pdf_fname, 'wb') as f:
    f.write(resp.content)

In [23]:
import pdfplumber
pdf_fname = 'CAWARN-eddwarncn12.pdf'
# open the pdf
pdf = pdfplumber.open(pdf_fname)
type(pdf)
# => pdfplumber.pdf.PDF

# get the first page
page = pdf.pages[0]
type(page)
# => pdfplumber.page.Page

pdfplumber.page.Page

In [24]:
table = page.extract_table()
table[0][0]

'Company Name'

In [25]:
table

[['Company Name', 'Location', 'Employees\nAffected', 'Layoff\nDate'],
 ['AAR MOBILITY SYSTEMS', 'MCCLELLAN AFB', '48', '6/15/12'],
 ['ABBOTT VASCULAR', 'MURRIETA', '45', '1/25/12'],
 ['ABBOTT VASCULAR', 'MURRIETA', '38', '10/17/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '247', '1/25/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '7', '1/25/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '139', '10/17/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '16', '10/17/12'],
 ['ABEO MANAGEMENT CORPORATION', 'LOS ANGELES', '42', '11/28/12'],
 ['ABERCROMBIE & FITCH', 'ANAHEIM', '51', '1/14/12'],
 ['ABERCROMBIE & FITCH', 'CAPITOLA', '51', '1/21/12'],
 ['ABERCROMBIE & FITCH', 'RIVERSIDE', '64', '1/14/12'],
 ['ABERCROMBIE & FITCH', 'SAN DIEGO', '66', '12/29/12'],
 ['ABERCROMBIE & FITCH', 'SIMI VALLEY', '70', '3/24/12'],
 ['ABERCROMBIE & FITCH', 'SIMI VALLEY', '47', '3/24/12'],
 ['ADAMS RITE MANUFACTURING \nCOMPANY', 'PONOMA', '110', '5/25/12'],
 ['ADOBE SYSTEMS INCORPORATED', 'SAN FRANCISCO', '121', '1/31/12'],
 ['ADOBE SYSTEMS INCORPORATED', 'SAN JOSE', '103', '1/31/12'],
 ['ADVANCED MICRO DEVICES, INC', 'SUNNYVALE', '107', '10/25/12']]

In [26]:
table = page.extract_table()
table[1:]

[['AAR MOBILITY SYSTEMS', 'MCCLELLAN AFB', '48', '6/15/12'],
 ['ABBOTT VASCULAR', 'MURRIETA', '45', '1/25/12'],
 ['ABBOTT VASCULAR', 'MURRIETA', '38', '10/17/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '247', '1/25/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '7', '1/25/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '139', '10/17/12'],
 ['ABBOTT VASCULAR', 'TEMECULA', '16', '10/17/12'],
 ['ABEO MANAGEMENT CORPORATION', 'LOS ANGELES', '42', '11/28/12'],
 ['ABERCROMBIE & FITCH', 'ANAHEIM', '51', '1/14/12'],
 ['ABERCROMBIE & FITCH', 'CAPITOLA', '51', '1/21/12'],
 ['ABERCROMBIE & FITCH', 'RIVERSIDE', '64', '1/14/12'],
 ['ABERCROMBIE & FITCH', 'SAN DIEGO', '66', '12/29/12'],
 ['ABERCROMBIE & FITCH', 'SIMI VALLEY', '70', '3/24/12'],
 ['ABERCROMBIE & FITCH', 'SIMI VALLEY', '47', '3/24/12'],
 ['ADAMS RITE MANUFACTURING \nCOMPANY', 'PONOMA', '110', '5/25/12'],
 ['ADOBE SYSTEMS INCORPORATED', 'SAN FRANCISCO', '121', '1/31/12'],
 ['ADOBE SYSTEMS INCORPORATED', 'SAN JOSE', '103', '1/31/12'],
 ['ADVANCED MICRO DEVICES, INC', 'SUNNYVALE', '107', '10/25/12']]

In [27]:
table[0]

['Company Name', 'Location', 'Employees\nAffected', 'Layoff\nDate']

In [29]:
import pandas as pd
df = pd.DataFrame(table[1:], columns = table[0])

In [30]:
df

,Company Name,Location,Employees\nAffected,Layoff\nDate
0,AAR MOBILITY SYSTEMS,MCCLELLAN AFB,48,6/15/12
1,ABBOTT VASCULAR,MURRIETA,45,1/25/12
2,ABBOTT VASCULAR,MURRIETA,38,10/17/12
3,ABBOTT VASCULAR,TEMECULA,247,1/25/12
4,ABBOTT VASCULAR,TEMECULA,7,1/25/12
5,ABBOTT VASCULAR,TEMECULA,139,10/17/12
6,ABBOTT VASCULAR,TEMECULA,16,10/17/12
7,ABEO MANAGEMENT CORPORATION,LOS ANGELES,42,11/28/12
8,ABERCROMBIE & FITCH,ANAHEIM,51,1/14/12
9,ABERCROMBIE & FITCH,CAPITOLA,51,1/21/12
10,ABERCROMBIE & FITCH,RIVERSIDE,64,1/14/12
11,ABERCROMBIE & FITCH,SAN DIEGO,66,12/29/12
12,ABERCROMBIE & FITCH,SIMI VALLEY,70,3/24/12
13,ABERCROMBIE & FITCH,SIMI VALLEY,47,3/24/12
14,ADAMS RITE MANUFACTURING \nCOMPANY,PONOMA,110,5/25/12
15,ADOBE SYSTEMS INCORPORATED,SAN FRANCISCO,121,1/31/12
16,ADOBE SYSTEMS INCORPORATED,SAN JOSE,103,1/31/12
17,"ADVANCED MICRO DEVICES, INC",SUNNYVALE,107,10/25/12

In [ ]:
import csv
import pdfplumber
pdf_fname = 'data.pdf'


outcsv = csv.writer(open('test.csv', 'w'))

pdf = pdfplumber.open(pdf_fname)
for page in pdf.pages:
    table = page.extract_table()
    for row in table[1:]:
        outcsv.writerow(row)
outfile.close

In [41]:
import csv
import pdfplumber
pdf_fname = 'data.pdf'
outcsv = csv.writer(open('a.csv', 'w'))
pdf = pdfplumber.open(pdf_fname)
for page in pdf.pages:
    for table in page.extract_tables():
        row = []
        for row in table:
            print(row)
        df = pd.DataFrame(table[1:], columns = table[0])

['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear']
['21.0', '6', '160.0', '110', '3.90', '2.620', '16.46', '0', '1', '4']
['21.0', '6', '160.0', '110', '3.90', '2.875', '17.02', '0', '1', '4']
['22.8', '4', '108.0', '93', '3.85', '2.320', '18.61', '1', '1', '4']
['21.4', '6', '258.0', '110', '3.08', '3.215', '19.44', '1', '0', '3']
['18.7', '8', '360.0', '175', '3.15', '3.440', '17.02', '0', '0', '3']
['18.1', '6', '225.0', '105', '2.76', '3.460', '20.22', '1', '0', '3']
['14.3', '8', '360.0', '245', '3.21', '3.570', '15.84', '0', '0', '3']
['24.4', '4', '146.7', '62', '3.69', '3.190', '20.00', '1', '0', '4']
['22.8', '4', '140.8', '95', '3.92', '3.150', '22.90', '1', '0', '4']
['19.2', '6', '167.6', '123', '3.92', '3.440', '18.30', '1', '0', '4']
['17.8', '6', '167.6', '123', '3.92', '3.440', '18.90', '1', '0', '4']
['16.4', '8', '275.8', '180', '3.07', '4.070', '17.40', '0', '0', '3']
['17.3', '8', '275.8', '180', '3.07', '3.730', '17.60', '0', '0', '3']
['15.2', '8', '275.8', '180', '3.07', '3.780', '18.00', '0', '0', '3']
['10.4', '8', '472.0', '205', '2.93', '5.250', '17.98', '0', '0', '3']
['10.4', '8', '460.0', '215', '3.00', '5.424', '17.82', '0', '0', '3']
['14.7', '8', '440.0', '230', '3.23', '5.345', '17.42', '0', '0', '3']
['32.4', '4', '78.7', '66', '4.08', '2.200', '19.47', '1', '1', '4']
['30.4', '4', '75.7', '52', '4.93', '1.615', '18.52', '1', '1', '4']
['33.9', '4', '71.1', '65', '4.22', '1.835', '19.90', '1', '1', '4']
['21.5', '4', '120.1', '97', '3.70', '2.465', '20.01', '1', '0', '3']
['15.5', '8', '318.0', '150', '2.76', '3.520', '16.87', '0', '0', '3']
['15.2', '8', '304.0', '150', '3.15', '3.435', '17.30', '0', '0', '3']
['13.3', '8', '350.0', '245', '3.73', '3.840', '15.41', '0', '0', '3']
['19.2', '8', '400.0', '175', '3.08', '3.845', '17.05', '0', '0', '3']
['27.3', '4', '79.0', '66', '4.08', '1.935', '18.90', '1', '1', '4']
['26.0', '4', '120.3', '91', '4.43', '2.140', '16.70', '0', '1', '5']
['30.4', '4', '95.1', '113', '3.77', '1.513', '16.90', '1', '1', '5']
['15.8', '8', '351.0', '264', '4.22', '3.170', '14.50', '0', '1', '5']
['19.7', '6', '145.0', '175', '3.62', '2.770', '15.50', '0', '1', '5']
['15.0', '8', '301.0', '335', '3.54', '3.570', '14.60', '0', '1', '5']
['21.4', '4', '121.0', '109', '4.11', '2.780', '18.60', '1', '1', '4']
['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']
['6.7', '3.3', '5.7', '2.5']
['6.7', '3.0', '5.2', '2.3']
['6.3', '2.5', '5.0', '1.9']
['6.5', '3.0', '5.2', '2.0']
['6.2', '3.4', '5.4', '2.3']
['5.9', '3.0', '5.1', '1.8']
['Sepal.Width', 'Petal.Length', 'Petal.Width']
['3.5', '1.4', '0.2']
['3.0', '1.4', '0.2']
['3.2', '1.3', '0.2']
['3.1', '1.5', '0.2']
['3.6', '1.4', '0.2']
['3.9', '1.7', '0.4']
['supp']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']
['VC']

In [42]:
df

   supp
0    VC
1    VC
2    VC
3    VC
4    VC
5    VC
6    VC
7    VC
8    VC
9    VC
10   VC
11   VC
12   VC
13   VC
14   VC